<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525491358598-gic00ukgp3fugijhm903iap00lr5rap0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525491358598-gic00ukgp3fugijhm903iap00lr5rap0</string>
	<key>API_KEY</key>
	<string>AIzaSyBSN3-6wBAMOL2o6HAq-jeohWXqPNY4EAE</string>
	<key>GCM_SENDER_ID</key>
	<string>525491358598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-80401</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-80401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525491358598:ios:fb40e708da2a28b9a83a07</string>
</dict>
</plist>